.qr_select {
  padding: 10px;
  text-align: center;
  width: 100%;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.left_qr_select {
  border-top-left-radius: 7px;
}

.right_qr_select {
  border-top-right-radius: 7px;
}