.textarea {
	width: 100%;
	height: auto;
	padding: 12px;
	resize: vertical;
	border: 1px solid #444448;
	background-color: transparent;
	border-radius: 10px;
	line-height: inherit;
	min-height: inherit;
	font-size: 16px;
	background-color: #1e1e1f;
}
