.btn {
	align-items: center;
	background: #0088cb;
	color: #fff;
	display: flex;
}

.btn-primary {
	width: 100%;
	justify-content: center;
	font-size: 14px;
	line-height: 130%;
	border-radius: 8px;
	margin-bottom: 20px;
	padding: 17px 24px;
}
